@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');

:root{
    --size-xs: 0.2rem;
    --size-s: 0.4rem;
    --size-m: 0.6rem;
    --size-l: 0.8rem;
    --size-xl: 1rem;
    font-family: Calibri, serif;
    font-size: 20px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#page1,
#page2,
#page3,
#page4 {
    background-color: #000000BB;
    display: block;
    color: #FFFFFF;
    padding: var(--size-s);
    /*min-height: 80vh;*/
}
aside{
    background-color: #000000;
}
#sidenav{
    display: block;
    text-align: center;
}
#sidenav ul{
    list-style-type: none;
}
#sidenav ul li a{
    display: block;
    background-color: #000000;
    text-decoration: none;
    padding: var(--size-s) var(--size-m);
    font-weight: bold;
    color: #ffffff;
}
#sidenav ul li a:hover{
    background-color: #FFFFFF;
    color: #000000;
}
h1{
    font-family: "Shadows Into Light", serif;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 2rem;

}
h2{
    color: #7FFFD4FF;
    font-size: 20pt;
    font-family: "Shadows Into Light", serif;
}
h3{
    color: #7FFFD4FF;
}
#videomoblie{
    width: 100%;
}
.flex-container{
    display: flex;
    padding: var(--size-xl);
    flex-wrap: wrap;
    color: #FFFFFF;
    gap: var(--size-xl);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.flex-container > span{
    /*padding: var(--size-m);*/
    text-align: center;
}
#team1,
#team2,
#team3,
#team4,
#team5,
#team6{
    width: 5rem;
    height: 5rem;
    display: flow-root;
}
#page3 div span:hover{
    color: #7FFFD4FF;
    font-weight: bold;
}
#wappenlang{
    width: 100%;
}
#werbetext {
    display: none;
}
summary{
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: var(--size-xl);
}
summary:hover{
    cursor: pointer;
    color: #7FFFD4FF;
}

#table{
    display: flow-root;
    border-collapse: collapse;
    padding: var(--size-s);
    margin: var(--size-s);
    color: #ffffff;
}

#table th{
    border: 3px solid #FFFFFF;
    padding: var(--size-s);
}

.spalte1{
    text-align: center;
    column-width: 10rem;

}

.spalte2{
    text-align: justify;
    column-width: 50rem;

}

.spalte3{
    column-width: 10rem;
}

button {
    text-decoration: none;
    transition-duration: 0.5s;
    border-radius: 2rem;
    padding: var(--size-xl);
    border: solid 3pt;
    background-color: #FFFFFF;
    font-weight: bold;
}

button:hover {
    background-color: #000000;
    font-weight: bold;
    color: #ffffff;
    border: solid 3pt black;
}
#inhalt1,
#inhalt2,
#inhalt3,
#inhalt4{
    overflow-y: scroll;
    height: 3rem;
    padding: var(--size-s);
}

#Jugendzentrum{
    width: 50vh;
    float: right;
    padding: var(--size-xl);
    /*border: solid 5px #7FFFD4FF;*/
    /*border-radius: 20px;*/
    margin: var(--size-xl);
    display: none;
}
main section p{
    padding: var(--size-xl);
}
footer{
    display: flow-root;
    background-color: #000000;
    color: #FFFFFF;
    padding: var(--size-l);
}
footer > div{
    width: calc((100%/3));
    float: left;
    text-align: center;
    padding: inherit;
}
#facebook,
#instagram{
    width: 7vh;
}
#ihome{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 7vh;

}
.laden,
#video,
#maps,
#infotext,
#adresse,
#table{
    display: none;
}
#site-header{
    grid-area: header;
}
#sidebar-menu{
    grid-area: menu;
}
#site-content{
    grid-area: content;
    /*min-height: 80vh;*/
}
#sidebar-werbung{
    grid-area: werbung;
    background-color: #000000;
}
#site-footer{
    grid-area: footer;
}
@media screen and (min-width: 600px) {
    #wrapper {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas:
            "header header"
            "menu content"
            "werbung werbung"
            "footer footer";
    }

    #page1,
    #page2,
    #page3,
    #page4 {
        min-height: 50vh;
    }

    h1 {
        text-align: center;
    }
    #Jugendzentrum{
        display: block;
    }
    #videomoblie{
        display: none;
    }

    #wappenlang {
        display: none;
    }

    #sidebar-werbung {
        background-color: #000000;
        color: #FFFFFF;
    }

    #werbetext {
        display: block;
    }
    #table{
        display: none;
    }

    #team1:hover,
    #team2:hover,
    #team3:hover,
    #team4:hover,
    #team5:hover,
    #team6:hover {
        width: 12rem;
        height: 12rem;
        margin-left: -30px;
        padding: var(--size-xl);
    }
    .laden{
        display: block;
        width: 20vh;
        height: 20vh;
        background-color: #000000;
        margin-left: calc((100%/2));


    }
    .laden svg{
        animation: rotate 1.5s linear infinite;
    }
    .laden circle{
        animation: color 6s ease-in-out infinite,
        dash 1.5s ease-in-out infinite;
        fill: none;
        stroke: #000000;
        stroke-width: 3;
        stroke-linecap: round;
    }
    @keyframes rotate {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    @keyframes color{
        100%, 0%{
            stroke: #FF0000FF;
        }
        16.66%{
            stroke: #FFA500FF;
        }
        33.22%{
            stroke: #FFFF00FF;
        }
        49.98%{
            stroke: #008000FF;
        }
        66.64%{
            stroke: #0000FFFF;
        }
        83.3%{
            stroke: #FF00FFFF;
        }
    }
    @keyframes dash{
        0%{
            stroke-dasharray: 1,200;
            stroke-dashoffset: 0;
        }
        50%{
            stroke-dasharray: 89,200;
            stroke-dashoffset: -35;
        }
        100%{
            stroke-dasharray: 89,200;
            stroke-dashoffset: -124;
        }
    }
    #video{
        display: none;
    }
    #infotext{
        display: none;
    }

}
@media screen and (min-width: 1200px) {
    #wrapper {
        display: grid;
        grid-template-columns: 1fr 4.5fr 1fr;
        grid-template-areas:
            "header header header"
            "menu content werbung"
            "menu content werbung"
            "footer footer footer";
    }

    #table{
        display: block;
    }
    .laden{
        display: none;
    }
    #videomoblie{
        display: none;
    }

    #video{
        display: block;
        width:90%;
        margin: 5%;
    }
    #infotext{
        display: block;
        padding-top: 40%;
        text-align: center;
    }
    #maps{
        display: block;
        width: 90%;
        margin: 5%;
        padding-top: 40%;
    }
    #adresse{
        display: block;
        padding-top: 40%;
        text-align: center;
    }
    details {
        display: none;
    }
}


@media print {
    #sidebar-menu {
        display: none;
    }

    #sidebar-werbung {
        display: none;
    }

    #site-footer {
        display: none;
    }

    #videomoblie {
        display: none;
    }

    #page3 {
        display: none;
    }

    #table {
        display: block;
    }
    #inhalt1,
    #inhalt2,
    #inhalt3,
    #inhalt4{
        overflow: visible;
    }
    .spalte3{
        display: none;
    }
    button{
        display: none;
    }

    details {
        display: none;
    }
}

